{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="no-bottom" data-bgimage="url(images/background/5.png) bottom">
        <div class="center-y relative text-center" data-scroll-speed="4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="col-md-12 text-center">
                            <h3>Select tags</h3>
                            <!-- <p>Awsome Page Teaser Here</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section class="no-top mt-4">
        <div class="container">

            <div class="content-section col-md-8 offset-2 mt-4">
                <fieldset>
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}

                        <input type='text' placeholder='Select tags' class='flexdatalist'
                        data-min-length='1' multiple='multiple' list='languages' name='tagselector'>

                        <datalist id="languages">
                            {% for tag in available_tags %}
                            <option value="{{ tag.name }}">{{ tag.name }}</option>
                            {% endfor %}
                        </datalist>


                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Select</button>
                        </div>
                    </form>

                </fieldset>


    </section>
</div>


<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="{% static 'js/jquery.flexdatalist.js' %}"></script>

<script>
    $('.flexdatalist').flexdatalist({
        minLength: 1
    });
</script>
{% endblock content %}