{% extends "base.html" %}

{% load static %}
{% block content %}


<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="no-bottom" data-bgimage="url(images/background/5.png) bottom">
        <div class="center-y relative text-center" data-scroll-speed="4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="col-md-12 text-center">
                            <h1>Dataframe preview</h1>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section class="no-top mt-4">
        <div class="container">


            <!-- <div class="content-section col-md-8 offset-2" style="overflow-x: auto;">
                {{ dftable | safe}}
            </div> -->
            <div>
                <table class="table thead-dark table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>File</th>
                            <th>Uploaded at</th>
                        </tr>

                    </thead>
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td>{{ file.id }}</td>
                            <td>{{ file.csvfile.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </div>
            </table>
    
    </section>
</div>


{% endblock content %}