{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link href="{% static 'file_upload/dftable.css' %}" rel="stylesheet" type="text/css" />


<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="no-bottom" data-bgimage="url(images/background/5.png) bottom">
        <div class="center-y relative text-center" data-scroll-speed="4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="col-md-12 text-center">
                            <h1>Saved tags</h1>
                            <!-- <p>Awsome Page Teaser Here</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section class="no-top mt-4">
        <div class="container">
            {{ skiprows }}

            <div class="content-section col-md-4 offset-4 mt-4">

                    <table class="table">

                        <tr>
                            <th>Tagname</th>
                            <th>Batch Id</th>
                        </tr>
                        {% for tag in stored_tags %}
                        <tr>
                            <td>{{ tag.name }}</td>
                            <td>{{ tag.batch.id }}</td>
                        </tr>
                        {% endfor %}
                      </table>
                      <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Save</button>
                    </div>
            </div>


    </section>
</div>


{% endblock content %}